<!-- Base template for all pages except index. Has header/footer included -->
<!DOCTYPE html>
<html>
  <head>
    <title>EventSync</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
  </head>
  <body>
    <a href="{{ url_for('index') }}"><h1>EventSync</h1></a>
    <div class="flash-messages">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}

      <ul class="flash-list">
        {% for category, message in messages %}
        <li class="flash-{{ category }}">
          <div class="flash-category">{{ category }}!</div>
          <div class="flash-message">{{ message }}</div>
        </li>
        {% endfor %}
      </ul>

      {% endif %} {% endwith %}
    </div>

    {% block content %}{% endblock %}
  </body>
</html>
