 {% extends "base.html" %} {% block content %}
<h3>{{ event.title }}</h3>
<form
  class="register-form"
  action="{{ url_for('events.update_event') }}"
  method="POST"
>
  <input type="hidden" value="{{ event.id }}" name="event_id" />
  <input
    type="text"
    maxlength="30"
    name="title"
    value="{{ event.title }}"
    required
  />
  <br />
  <input type="date" name="date" value="{{ event_date }}" required />
  <br />
  <input type="time" name="time" value="{{ event_time }}" required />
  <br />
  <textarea
    rows="4"
    cols="50"
    name="description"
    maxlength="150"
    required
  >{{ event.description }}</textarea><br />
  <input type="submit" value="Update Event" />
</form>
<br>
<h3>Members</h3>
<a href="{{ url_for('invites.member_list') }}">Invite Members</a>
<h4>Accepted</h4>
{% if accepted_users is not none %}
<div>
 <ul> 
    {% for user in accepted_users %}
    <li>{{user.username}}</li>
    {% endfor %}
  </ul>   
</div>
{% else %}
<div>
  <h4>This event has no active users.</h4>
</div>
{% endif %}
<h4>Pending</h4>
{% endblock %}
