<!-- Template for the index/login page -->
<!DOCTYPE html>
<html>
  <head>
    <title>EventSync</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
    <!-- <link
      rel="icon"
      href="{{ url_for('static',filename='media/favicon.ico') }}"
    /> -->
  </head>

  <body>
    <div class="flex-wrapper">
      <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}

        <ul class="flash-list">
          {% for category, message in messages %}
          <li class="flash-{{ category }}">
            <div class="flash-category">{{ category }}!</div>
            <div class="flash-message">{{ message }}</div>
          </li>
          {% endfor %}
        </ul>

        {% endif %} {% endwith %}
      </div>
      <a href="{{ url_for('index') }}"><h1>EventSync</h1></a>
      <div class="login">
        <form action="{{ url_for('log_in.login') }}" method="POST" autocomplete="off">
          <input type="text" name="username" placeholder="username" required />
          <br />
          <input
            type="password"
            name="password"
            placeholder="password"
            required
          />
          <br />
          <input type="submit" value="Login" />
        </form>
      </div>
      <a href="{{ url_for('createaccount.create_account') }}">Create account</a>
    </div>
  </body>
</html>
